<%- include('partials/header') %>
<meta content="Pokémon Kingdom" property="og:title">
<meta content="#5865F2" data-react-helmet="true" name="theme-color">
<meta content="Official website for the Pokémon Kingdom Discord server" property="og:description">

<title>Pokémon Kingdom</title>
<main class="text-light" style="height: 95vh; background-color: #212121;">
    <div class="container">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Pokémon Kingdom</h1>
                    <p class="lead text-muted">
                        Welcome to the official website for the Pokémon Kingdom Discord server.
                        <br>
                        The entire website will be rewritten in the future, so don't expect much from this one.
                        <br>
                        In the meantime, you can mess around with the current features if you login with Discord below.
                        <br>
                        Also, if you're interested in the source code, you can find it on GitHub.
                    </p>
                    <p>
                        <a href="/auth/login" class="btn btn-primary my-2">Login with Discord</a>
                        <a href="https://github.com/pokemonkingdom/website" class="btn btn-secondary my-2" target="_blank">View on GitHub</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</main>

<%- include('partials/footer') %>