<%- include('partials/header') %>

<main class="text-light" style="height: 95vh; background-color: #212121;">
    <div class="container">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Pokémon Kingdom</h1>
                    <p class="lead text-muted">
                        Heheeh
                    </p>
                    <p>
                        <a href="/auth/login" class="btn btn-primary my-2">Login with Discord</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</main>

<%- include('partials/footer') %>