<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Privacy Policy - Pokémon Kingdom" property="og:title">
    <meta content="#5865F2" data-react-helmet="true" name="theme-color">
    <meta content="Privacy Policy for Pokémon Kingdom" property="og:description">
    <title>Privacy Policy - Pokémon Kingdom</title>
    <style>
        @font-face {
            font-family: rTitleFont;
            src: url(/fonts/Rubik-Bold.ttf);
        }
        @font-face {
            font-family: rAlternateTitleFont;
            src: url(/fonts/Rubik-SemiBold.ttf);
        }
        @font-face {
            font-family: rText;
            src: url(/fonts/Rubik-Light.ttf);
        }
        body {
            background-color: #222;
            text-align: center;
            padding: 0 3%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        li {
            color: #e0e0e0;
            font-family: rText;
        }
        .title {
            font-family: rTitleFont;
        }

        .officialTitle {
            font-family: rAlternateTitleFont;
        }

        .container {
            display: inline-block;
            margin: 0 auto;
            padding: 3px;
            text-align: justify;
        }

        .header,
        .official {
            border-bottom: rgba(255, 255, 255, .25) 1px solid;
        }

        .footer {
            width: 100%;
            text-align: center;
            padding: 33px 0;
        }

        .footerText {
            color: #777;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <section class="header">
            <h1 class="title">Privacy Policy for Pokémon Kingdom Utilities (PK Utilities)</h1>
            <p class="lastUpdate">Last updated: June 19, 2024</p>
        </section>
        <section class="terms">
            <h2 class="officialTitle">1. Introduction</h2>
            <p>Pokémon Kingdom Utilities (PK Utilities) values your privacy. This Privacy Policy explains what information we collect, how we use it, and how we protect your information when you use our bot.</p>

            <h2 class="officialTitle">2. Information We Collect</h2>
            <p>When you use PK Utilities, we may collect the following types of information:</p>
            <ul>
                <li><strong>User Information: </strong>This includes user IDs, usernames, and any other information provided by Discord.</li>
                <li><strong>Server Information: </strong>This includes server IDs, server names, and channel IDs where the bot is used.</li>
                <li><strong>Messages: </strong>Any messages sent to the bot for processing commands and interactions.</li>
            </ul>

            <h2 class="officialTitle">3. How We Use Your Information</h2>
            <p>We use the information collected for the following purposes:</p>
            <ul>
                <li><strong>To Provide and Improve Services: </strong>We use your information to operate, maintain, and improve PK Utilities' features and functionality.</li>
                <li><strong>To Communicate with Users: </strong>We may use your information to respond to inquiries, provide support, and communicate about updates or changes to our services.</li>
                <li><strong>To Ensure Compliance: </strong>We may use your information to monitor and ensure compliance with our Terms of Service.</li>
            </ul>

            <h2 class="officialTitle">4. Data Storage and Security</h2>
            <ul>
                <li><strong>Storage Locations: </strong>The data collected by PK Utilities is stored on servers located in Spain and Germany. The datacenter is property of Oracle Corporation.</li>
                <li><strong>Security Measures: </strong>We implement appropriate security measures to protect your information from unauthorized access, alteration, disclosure, or destruction. This includes encryption, access controls, and secure protocols.</li>
            </ul>

            <h2 class="officialTitle">5. Data Sharing and Disclosure</h2>
            <p>We do not share your personal information with third parties except in the following circumstances:</p>
            <ul>
                <li><strong>Legal Requirements: </strong>We may disclose your information if required to do so by law or in response to valid requests by public authorities.</li>
                <li><strong>Protection of Rights: </strong>We may disclose your information to protect our rights, property, or safety, and the rights, property, and safety of our users or others.</li>
            </ul>

            <h2 class="officialTitle">6. Data Retention</h2>
            <p>We retain your information only for as long as necessary to fulfill the purposes outlined in this Privacy Policy. After that, we will delete or anonymize your data.</p>

            <h2 class="officialTitle">7. Your Rights</h2>
            <p>Depending on your location, you may have the following rights regarding your personal information:</p>
            <ul>
                <li><strong>Access: </strong>You can request access to the information we hold about you.</li>
                <li><strong>Correction: </strong>You can request that we correct or update your information.</li>
                <li><strong>Deletion: </strong>You can request that we delete your information.</li>
                <li><strong>Objection: </strong>You can object to the processing of your information in certain circumstances.</li>
            </ul>
            <p>To exercise these rights, please contact us at <strong>dataprocessing (at) pk.tr25.es</strong></p>

            <h2 class="officialTitle">8. Changes to This Privacy Policy</h2>
            <p>We may update this Privacy Policy from time to time. Any changes will be effective immediately upon posting the updated policy. Your continued use of PK Utilities after any changes constitutes your acceptance of the new Privacy Policy.</p>
        </section>
        <section class="footer">
            <p class="footerText">By using PK Utilities, you acknowledge that you have read, understood, and agree to this Privacy Policy.</p>
        </section>
    </div>
</body>

</html>